 body {
  background-color: black;
}

span {
  margin: 2px;
  font: 1.2em sans-serif;
  align-self: flex-end;
}



.keys {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 22vh;
  justify-content: center;
  max-width: 800px;
  height: 35vh;
}

/*  this arranges things for touchscreen
.key {
  color:white;
  border: 2px solid pink;
  background-color: grey;
  width: 23%;
  max-height: 22vh;
  border-radius: 4px;
  justify-content: space-between;
  transition: all 0.07s;
  display:flex;
}*/

.key {
  color:white;
  border: 2px solid pink;
  background-color: grey;
  width: 5%;
  max-height: 10vh;
  border-radius: 4px;
  justify-content: space-between;
  transition: all 0.07s;
  display:flex;
}


.playing {
  transform:scale(0.95);
  color: grey;
  border-color: blue;
  background-color: white;
}

.topRow {
  width: 19%;
}

div[data-key="85"],
div[data-key="89"] {
  order: 2;
}


.middleRow {
  width: 16%;
  order: 100;
}

div[data-key="72"] {
  order: 102;
}

div[data-key="74"] {
  order: 103;
}


.bottomRow {
  width: 15%;
  order: 200;
}

div[data-key="78"] {
  order: 202;
}


footer {
  font-size: 0.75em;
}
